:root {
  color-scheme: light dark;
  /* Background color */
  --color-bg: light-dark(#eceae2, #2c2d2e);

  /* Header background color */
  --color-head-bg: light-dark(#7fbbca, #5e82ad);

  /* Logotype */
  --color-logotype-bg: light-dark(#7fbbca, #5e82ad);
  --color-text-logotype: white;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: light-dark(#7fbbca, #5e82ad);
  /* Links */
  --color-link-bg: #0c2e72;
  --color-link-hover: #06193f;
  --color-link-active: #06193f;
  --border-radius-links: 20px;

  /* Headlines (size)*/
  --font-h1-size: 3rem;
  --font-h2-size: 1.5rem;
  --font-h3-size: 1rem;

  --headline2-size: 1.2rem;
  --headline3-size: 1rem;
  --font-sub1-size: 0.8rem;

  /* Headlines (color) */
  --color-headline-bg: #090c79;

  /* Tekst */
  --color-text: light-dark(black, white);
  --color-text-inverted: white;

  /* Andet tekst */
  --followup-text-size: 1rem;

  /*  Margins */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #e3e1d8;
  --color-card-bg-inverted: #4d4e4f;
  --color-cta-card-bg: #847f7e;
  --color-cta-card-bg-inverted: #c0bfb9;

  /* Fonts & font weights*/
  --font-family-sans: ui-sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 300;
  --font-weight-light: 200;

  /* Infographics background colors*/
  --color-info-bg: light-dark(#c2d6dd, #94c6db);
}

html.dark {
  color-scheme: dark;
}
